@charset "UTF-8";
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F0F1FA;
}

.gradient-bottom {
  background: rgb(240, 241, 250);
  background: linear-gradient(180deg, rgba(240, 241, 250, 0.868872549) 0%, rgb(130, 135, 145) 37%, rgb(18, 20, 22) 67%);
  padding-bottom: 60px;
}

header {
  width: 100%;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, rgb(240, 241, 250) 100%), url(../img/porche_header_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

.header-container {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  min-height: 100px;
  top: 0;
  background-color: rgba(44, 69, 73, 0.603);
}
.header-container .navbar-brand img {
  width: 170px;
}

.header-separator {
  margin-bottom: 20px;
}

.button-navbar {
  list-style-type: none;
  padding: 20px;
  margin: 0;
  display: flex;
}
.button-navbar li a {
  text-decoration: none;
  /* Elimina el subrayado de los enlaces */
  color: #39374b;
  /* Cambia el color del texto a negro, puedes ajustarlo según prefieras */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  padding: 13px;
  text-wrap: center;
}
.button-navbar li a:hover {
  border-radius: 3px;
  transition-delay: 10ms;
  transition-duration: 500ms;
  background-color: rgba(44, 69, 73, 0.603);
}

.highlight-page {
  border-bottom: 4px solid #b9b9ec;
}

.after-header {
  margin-top: 50px;
  height: 180px;
  display: flex;
}
.after-header h3 {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 50px;
  padding: 0px;
  margin-left: 250px;
  margin-top: 100px;
}

.carousel-autos {
  padding-left: 250px;
  padding-right: 250px;
}

.carousel-inner {
  border-radius: 20px;
}

.parrafos {
  text-align: center;
  margin-top: 250px;
  margin-bottom: 150px;
}
.parrafos h1 {
  margin-bottom: 75px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 75px;
  align-items: center;
}
.parrafos p {
  margin-left: 320px;
  margin-right: 320px;
  font-size: 18px;
}

.new-cars-grid {
  background: rgb(240, 241, 250);
  background: linear-gradient(180deg, rgba(240, 241, 250, 0.868872549) 0%, rgb(130, 135, 145) 37%, rgb(18, 20, 22) 67%);
  padding-bottom: 60px;
}
.new-cars-grid h3 {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 50px;
  padding: 0px;
  text-align: center;
}

footer {
  background-color: #121416;
  background-image: linear-gradient(180deg, rgb(18, 20, 22) 23%, rgba(255, 255, 255, 0) 65%), url(../img/footer-background.jpg);
  height: 850px;
  background-repeat: no-repeat;
  background-size: cover;
}
footer .footer-border {
  border: 2px solid rgba(185, 185, 236, 0.6431372549);
  margin: 0 50px;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-container .logo-footer {
  padding: 30px;
  text-align: center;
  border-radius: 20px;
  margin-top: 100px;
  margin-left: 100%;
  margin-right: 100%;
}
footer .footer-container .logo-footer img {
  width: 230px;
  filter: invert(88%) sepia(1%) saturate(2115%) hue-rotate(199deg) brightness(110%) contrast(96%);
}
footer .footer-container .footer-redes {
  margin-left: 100%;
  margin-right: 100%;
}
footer .footer-container .footer-redes .rrss-img {
  width: 45px;
  filter: invert(88%) sepia(1%) saturate(2115%) hue-rotate(199deg) brightness(110%) contrast(96%);
  margin: 0 20px;
  margin-top: 80px;
  display: flex;
}
footer .footer-container .footer-redes .rrss-img:hover {
  filter: invert(81%) sepia(64%) saturate(2965%) hue-rotate(193deg) brightness(91%) contrast(85%);
}
footer .footer-container .footer-redes ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
footer .footer-container .footer-info {
  margin: 0 300px;
  margin-top: 90px;
  color: #F0F1FA;
  text-align: center;
  padding: 15px;
  border-radius: 20px;
  background-color: rgba(33, 37, 41, 0.721);
  box-shadow: 21px 20px 22px -5px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 21px 20px 22px -5px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 21px 20px 22px -5px rgba(0, 0, 0, 0.63);
}
footer .footer-container .footer-info h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  margin-bottom: 20px;
  font-size: 25px;
}
footer .footer-container .footer-info p {
  font-size: 15px;
}

.exclusive-selection-sale {
  background: rgb(240, 241, 250);
  background: linear-gradient(180deg, rgba(240, 241, 250, 0.868872549) 0%, rgb(130, 135, 145) 37%, rgb(18, 20, 22) 67%);
  padding-bottom: 250px;
}
.exclusive-selection-sale .contenedor-sales {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  padding: 35px;
  border-radius: 10px;
  margin-top: 200px;
  background: rgb(45, 61, 79);
  background: radial-gradient(circle, rgba(45, 61, 79, 0.7596288515) 0%, rgba(38, 75, 116, 0.5215336134) 100%);
  box-shadow: 10px 17px 37px -5px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 10px 17px 37px -5px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 10px 17px 37px -5px rgba(0, 0, 0, 0.55);
}
.exclusive-selection-sale .contenedor-sales .car-upper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.exclusive-selection-sale .contenedor-sales .car-upper .car-img {
  margin-right: 30px;
}
.exclusive-selection-sale .contenedor-sales .car-upper .car-img img {
  width: 380px;
  margin-bottom: 15px;
  border-radius: 10px;
}
.exclusive-selection-sale .contenedor-sales .car-upper .car-info {
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;
  color: rgb(227, 227, 240);
}
.exclusive-selection-sale .contenedor-sales .car-upper .car-info h4 {
  text-align: left;
  font-size: 30px;
  font-weight: 750;
}
.exclusive-selection-sale .contenedor-sales .car-upper .car-info ul {
  font-size: 18px;
  font-weight: 400;
}
.exclusive-selection-sale .contenedor-sales .car-upper .car-price {
  margin-top: auto;
  margin-bottom: 25px;
  color: rgb(227, 227, 240);
}
.exclusive-selection-sale .contenedor-sales .car-upper .car-price h5 {
  font-size: 25px;
  font-weight: 700;
}
.exclusive-selection-sale .contenedor-sales .car-bottom .car-photos {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.exclusive-selection-sale .contenedor-sales .car-bottom .car-photos img {
  width: 210px;
  margin-right: 10px;
  border-radius: 8px;
}
.exclusive-selection-sale .contenedor-sales .car-bottom .carousel-fade {
  display: none;
}

.about {
  margin-top: 180px;
}

.about-photos-container {
  padding-bottom: 300px;
}
.about-photos-container .text {
  text-align: center;
  margin-bottom: -260px;
}
.about-photos-container .text h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 68px;
  margin-bottom: 80px;
}
.about-photos-container .text p {
  font-family: "Trebuchet MS", sans-serif;
}
.about-photos-container .text p:nth-child(2) {
  font-size: 400px;
  position: relative;
  bottom: 220px;
}
.about-photos-container .text p:nth-child(3) {
  font-size: 250px;
  position: relative;
  bottom: 380px;
  right: 3px;
}
.about-photos-container .text p:nth-child(4) {
  font-size: 150px;
  position: relative;
  bottom: 380px;
  right: 3px;
}
.about-photos-container .about-photos {
  display: flex;
  justify-content: center;
  padding-top: 380px;
  margin: 0 50px;
}
.about-photos-container .about-photos img {
  max-width: 35%;
  height: auto;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 10px;
}
.about-photos-container .about-photos img:nth-child(1) {
  position: relative;
  bottom: 300px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-form form {
  max-width: 900px;
  margin-inline: 30px;
}

.address-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.address-container .address {
  margin-inline: 17px;
  margin-bottom: 20px;
  width: 400px;
  background-color: rgba(40, 46, 51, 0.644);
  color: white;
  padding-bottom: 15px;
}
.address-container .address h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin: 10px 15px;
  margin-bottom: 20px;
}
.address-container .address p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 2px 15px;
}
.address-container .map {
  margin-inline: 17px;
  margin-bottom: 20px;
  width: 400px;
  background-color: rgba(33, 37, 41, 0.721);
  color: white;
}
.address-container .map h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin: 10px 15px;
}
.address-container .map div {
  padding-inline: 15px;
}
.address-container .map div iframe {
  height: 300px;
  max-width: 370px;
}

.contacto-wp {
  display: flex;
  background-color: rgb(18, 20, 22);
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}
.contacto-wp a {
  text-decoration: none;
  margin-inline: 10px;
}
.contacto-wp a h5 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 23px;
}
.contacto-wp a .rrss-img {
  filter: invert(88%) sepia(1%) saturate(2115%) hue-rotate(199deg) brightness(110%) contrast(96%);
  width: 50px;
}
.contacto-wp a .rrss-img:hover {
  filter: brightness(0) saturate(100%) invert(57%) sepia(92%) saturate(417%) hue-rotate(101deg) brightness(90%) contrast(99%);
}

.new-cars-brands {
  background-color: rgb(18, 20, 22);
  padding-top: 100px;
}
.new-cars-brands .nc-brands-models {
  margin-inline: 10%;
  padding-bottom: 160px;
  background-color: rgb(18, 20, 22);
}
.new-cars-brands .nc-brands-models .nc-brand {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.new-cars-brands .nc-brands-models .nc-brand img {
  width: 78px;
  margin-right: 20px;
}
.new-cars-brands .nc-brands-models .nc-brand .brand-nme {
  filter: invert(1);
}
.new-cars-brands .nc-brands-models .nc-brand .mercedes-nme {
  width: 130px;
}
.new-cars-brands .nc-brands-models .carousel {
  margin-inline: 30px;
}
.new-cars-brands .nc-brands-models .carousel .carousel-inner {
  border-radius: 0;
}
.new-cars-brands .nc-brands-models .carousel .carousel-inner .carousel-item div {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.new-cars-brands .nc-brands-models .carousel .carousel-inner .carousel-item div img {
  max-width: 52%;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-inline: 20px;
}
.new-cars-brands .nc-brands-models .carousel .carousel-inner .carousel-item div .nc-model-info {
  display: flex;
  min-height: 350px;
}
.new-cars-brands .nc-brands-models .carousel .carousel-inner .carousel-item div .nc-model-info .nc-info {
  color: rgb(231, 235, 253);
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.new-cars-brands .nc-brands-models .carousel .carousel-inner .carousel-item div .nc-model-info .nc-info h4 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
}
.new-cars-brands .nc-brands-models .carousel .carousel-inner .carousel-item div .nc-model-info .nc-info p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  max-width: 300px;
}
.new-cars-brands .nc-brands-models .carousel .carousel-inner .carousel-item div .nc-model-info .nc-info p br {
  display: block;
  content: "";
  margin-top: 10px;
}
.new-cars-brands .nc-brands-models .carousel .carousel-inner .carousel-item div .nc-model-info .nc-info p strong {
  font-weight: 750;
  color: rgb(235, 240, 255);
}
.new-cars-brands .nc-brands-models .carousel .carousel-inner .carousel-item div .nc-model-info .nc-price {
  text-align: center;
  padding-inline: 20px;
  align-items: center;
  color: rgb(231, 235, 253);
}

.carousel-control-prev,
.carousel-control-next {
  margin-inline: -120px;
  margin-bottom: 0px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 19%;
  margin-right: 19%;
}
.grid-container .grid-item {
  border: 2px solid rgba(160, 183, 218, 0.226);
  background-color: rgba(62, 76, 95, 0.158);
  padding: 50px;
  margin: 50px;
  width: 200px;
  height: 200px;
}
.grid-container .grid-item .logo-img {
  width: 115px;
  position: absolute;
  margin-top: -9px;
  margin-left: -10px;
  z-index: 1;
}
.grid-container .grid-item .logo-nme {
  width: 180px;
  position: absolute;
  margin-top: 10px;
  margin-left: -40px;
  z-index: 1;
  opacity: 0;
}
.grid-container .grid-item .audi-img {
  width: 130px;
  margin-top: 25px;
  margin-left: -17px;
}
.grid-container .grid-item .porsche-img {
  width: 90px;
  margin-top: -10px;
  margin-left: 3px;
}
.grid-container .grid-item .ferrari-img {
  width: 130px;
  margin-top: -17px;
  margin-left: -17px;
}
.grid-container .grid-item .lamborghini_img {
  width: 110px;
  margin-top: -15px;
  margin-left: -7px;
}
.grid-container .grid-item .bmw-name {
  margin-top: 5px;
}
.grid-container .grid-item .merc-name {
  margin-top: 35px;
}
.grid-container .grid-item .audi-name {
  margin-top: 28px;
  margin-left: -42px;
}
.grid-container .grid-item .porsche-name {
  width: 180px;
  margin-top: 42px;
  margin-left: -42px;
}
.grid-container .grid-item .ferrari-name {
  margin-left: -42px;
  margin-top: 28px;
}
.grid-container .grid-item .lamborghini-name {
  width: 194px;
  position: absolute;
  margin-top: 21px;
  margin-left: -49px;
}
.grid-container .grid-item:hover {
  border: 2px solid rgba(50, 49, 71, 0.904);
  background: #939ad8;
  background: linear-gradient(180deg, rgba(147, 154, 216, 0.7568277311) 0%, rgba(164, 185, 217, 0.6111694678) 65%, rgba(179, 195, 212, 0.168592437) 100%);
  transition: 300ms;
}
.grid-container .grid-item:hover .logo-img {
  opacity: 0;
  transition: 500ms;
}
.grid-container .grid-item:hover .logo-nme {
  opacity: 1;
  transition: 1.5s;
}

.title {
  margin-bottom: 75px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 75px;
  align-items: center;
  text-align: center;
  margin-top: 160px;
  margin-bottom: 80px;
}

.fkrc-container {
  font-family: "Source Sans Pro", sans-serif;
}

.fkrc-m-p {
  margin: 0;
  padding: 0;
}

.fkrc-block {
  display: block;
}

.fkrc-line-normal {
  line-height: normal;
}

.fkrc-checkbox-window {
  height: 74px;
  width: 300px;
  background-color: #f9f9f9;
  border-radius: 3px;
  border: 1px solid #d3d3d3;
}

.fkrc-checkbox-container {
  width: 28px;
  height: 28px;
}

.fkrc-checkbox {
  position: relative;
  background-color: #fff;
  border-radius: 2px;
  height: 100%;
  width: 100%;
  border: 2px solid #c1c1c1;
  margin: 21px 0 0 12px;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  transition: width 500ms, height 500ms, border-radius 500ms, margin-top 500ms, margin-left 500ms, opacity 700ms;
}

.fkrc-checkbox:hover {
  border: 2px solid #b2b2b2;
}

.fkrc-im-not-a-robot {
  position: relative;
  left: 52px;
  bottom: 2px;
  font-size: 15px;
  color: #282727;
}

.fkrc-captcha-logo {
  position: relative;
  left: 246px;
  bottom: 40px;
  width: 33px;
  height: 33px;
  vertical-align: baseline;
}

.fkrc-checkbox-desc {
  color: #555555;
  position: relative;
  font-size: 10px;
  text-align: center;
  bottom: 41px;
  left: 112px;
}

.fkrc-spinner {
  visibility: hidden;
  position: relative;
  height: 35px;
  width: 35px;
  bottom: 90px;
  left: 9px;
  opacity: 0;
  transition: opacity 400ms;
}

.fkrc-verifywin-window {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  margin: auto;
  width: 310px;
  background-color: #fff;
  border: 1px solid #cecece;
  -webkit-box-shadow: 5px 6px 7px -3px rgba(0, 0, 0, 0.12);
  box-shadow: 5px 6px 7px -3px rgba(0, 0, 0, 0.12);
  transition: opacity 400ms;
}

.fkrc-verifywin-window-arrow {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  transition: opacity 200ms;
  width: 10px;
  height: 23px;
}

.fkrc-verifywin-container {
  padding: 8px;
}

.fkrc-verifywin-header {
  background-color: #5a89e1;
  padding: 16px 16px 24px 16px;
  color: #fff;
}

.fkrc-verifywin-header-text-small {
  font-size: 14px;
  line-height: normal;
}

.fkrc-verifywin-header-text-medium {
  font-size: 16px;
}

.fkrc-verifywin-header-text-big {
  font-size: 24px;
  font-weight: 700;
}

.fkrc-verifywin-main {
  padding: 5px;
}

.fkrc-verifywin-footer {
  border-top: 1px solid #cecece;
  padding: 10px 7px 10px 7px;
  color: #737373;
  display: grid;
  grid-template-columns: auto 102px;
  font-size: 13px;
}

.fkrc-verifywin-footer-left {
  padding: 5px;
}

.fkrc-verifywin-verify-button {
  text-transform: uppercase;
  background-color: #5a89e2;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 12px 0 12px 0;
  text-decoration: none;
  font-weight: 600;
  height: min-content;
  border-radius: 3px;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
}

@media only screen and (max-width: 435px) {
  .fake-captcha {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  header {
    width: 100%;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, rgb(240, 241, 250) 100%), url(../img/porche_header_background_mvl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
  }
  .button-navbar li a {
    text-decoration: none;
    color: #cfcfe4;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    padding: 13px;
    text-wrap: center;
    margin-right: 30px;
  }
  .header-container {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    min-height: 95px;
    top: 0;
    background-color: rgba(45, 74, 79, 0.881);
  }
  .header-container .navbar-brand img {
    width: 140px;
  }
  .button-navbar li a:hover {
    border-radius: 3px;
    transition-delay: 10ms;
    transition-duration: 500ms;
    background-color: rgba(39, 67, 72, 0.933);
    color: #F0F1FA;
  }
  .highlight-page {
    border-bottom: 4px solid #b9b9ec;
    margin-right: 200px;
  }
  .after-header {
    display: block;
    margin-top: 100px;
    height: 200px;
    text-align: center;
  }
  .after-header h3 {
    color: #000000;
    font-weight: bolder;
    font-size: 50px;
    padding: 0px;
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
  }
  .carousel-autos {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
  }
  .carousel-inner {
    border-radius: 5px;
  }
  .parrafos {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 10px;
    margin-bottom: 200px;
  }
  .parrafos h1 {
    margin-bottom: 50px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 60px;
    align-items: center;
  }
  .parrafos p {
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
  }
  .new-cars-grid h3 {
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 50px;
    padding: 0px;
    text-align: center;
    margin-bottom: 100px;
  }
  .grid-container {
    margin-left: 0px;
    margin-right: 0px;
  }
  .grid-container .grid-item {
    margin: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 50px;
  }
  footer {
    background-image: linear-gradient(180deg, rgb(18, 20, 22) 23%, rgba(255, 255, 255, 0) 65%), url(../img/footer-background-mobile.png);
    height: 700px;
    background-repeat: no-repeat;
    background-size: auto;
  }
  footer .footer-border {
    border: 1px solid rgba(185, 185, 236, 0.6431372549);
  }
  footer .footer-container .logo-footer img {
    width: 200px;
  }
  footer .footer-container .footer-redes .rrss-img {
    width: 37px;
    margin: 0 12px;
    margin-top: 50px;
  }
  footer .footer-container .footer-info {
    margin: 0 40px;
    margin-top: 90px;
    padding: 15px;
  }
  footer .footer-container .footer-info h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    margin-bottom: 20px;
    font-size: 20px;
  }
  footer .footer-container .footer-info p {
    font-size: 13px;
  }
  .exclusive-selection-sale {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .exclusive-selection-sale .contenedor-sales {
    padding: 14px 0px;
    max-width: 550px;
    margin-inline: 15px;
  }
  .exclusive-selection-sale .contenedor-sales .car-upper {
    justify-content: center;
  }
  .exclusive-selection-sale .contenedor-sales .car-upper .car-img {
    margin: auto;
    text-align: center;
  }
  .exclusive-selection-sale .contenedor-sales .car-upper .car-img img {
    width: auto;
    max-width: 94%;
    height: auto;
  }
  .exclusive-selection-sale .contenedor-sales .car-upper .car-info h4 {
    text-align: center;
  }
  .exclusive-selection-sale .contenedor-sales .car-upper .car-price {
    margin: 0px;
    padding: 25px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .exclusive-selection-sale .contenedor-sales .car-bottom .car-photos {
    display: none;
  }
  .exclusive-selection-sale .contenedor-sales .car-bottom .carousel-fade {
    display: block;
    margin: auto;
    max-width: 93%;
  }
  .about-photos-container .text h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 60px;
    margin-bottom: 80px;
  }
  .about-photos-container .text p {
    font-family: "Trebuchet MS", sans-serif;
  }
  .about-photos-container .text p:nth-child(2) {
    font-size: 350px;
    position: relative;
    bottom: 220px;
  }
  .about-photos-container .text p:nth-child(3) {
    font-size: 210px;
    position: relative;
    bottom: 250px;
    right: 3px;
  }
  .about-photos-container .text p:nth-child(4) {
    font-size: 125px;
    position: relative;
    bottom: 230px;
    right: 3px;
  }
  .about-photos-container .about-photos {
    display: flex;
    justify-content: center;
    padding-top: 0px;
    margin: 0px;
    flex-wrap: wrap;
  }
  .about-photos-container .about-photos img {
    max-width: 74%;
    height: auto;
    margin-top: 130px;
  }
  .about-photos-container .about-photos img:nth-child(1) {
    position: static;
  }
  .title {
    font-size: 45px;
    margin-top: 40px;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-form form {
    max-width: 900px;
    margin-inline: 15px;
  }
  .address-container .address {
    margin-inline: 5px;
    margin-bottom: 10px;
  }
  .address-container .address h4 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .address-container .address p {
    font-size: 15px;
  }
  .address-container .map {
    margin-inline: 5px;
    margin-bottom: 10px;
  }
  .address-container .map h4 {
    font-size: 26px;
  }
  .contacto-wp {
    flex-direction: column;
  }
  .contacto-wp a {
    text-decoration: none;
    margin-inline: 10px;
    margin-bottom: 10px;
  }
  .contacto-wp a h5 {
    font-size: 19px;
    text-align: center;
  }
  .contacto-wp a .rrss-img {
    filter: invert(88%) sepia(1%) saturate(2115%) hue-rotate(199deg) brightness(110%) contrast(96%);
    width: 41px;
  }
  .contacto-wp a .rrss-img:hover {
    filter: brightness(0) saturate(100%) invert(57%) sepia(92%) saturate(417%) hue-rotate(101deg) brightness(90%) contrast(99%);
  }
  .new-cars-brands .nc-brands-models {
    margin-inline: 5%;
    padding-bottom: 50px;
  }
  .new-cars-brands .nc-brands-models .nc-brand img {
    width: 65px;
    margin-right: 12px;
  }
  .new-cars-brands .nc-brands-models .nc-brand .mercedes-nme {
    width: 110px;
  }
  .new-cars-brands .nc-brands-models .carousel {
    margin-inline: 30px;
  }
  .new-cars-brands .nc-brands-models .carousel .carousel-inner .carousel-item div img {
    max-width: 70%;
    min-width: 260px;
    margin-inline: 0px;
  }
  .new-cars-brands .nc-brands-models .carousel .carousel-inner .carousel-item div .nc-model-info {
    flex-direction: column;
  }
  .new-cars-brands .nc-brands-models .carousel .carousel-inner .carousel-item div .nc-model-info .nc-info {
    color: rgb(231, 235, 253);
    margin-right: 0px;
    margin-top: 25px;
  }
  .new-cars-brands .nc-brands-models .carousel .carousel-inner .carousel-item div .nc-model-info .nc-info h4 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .new-cars-brands .nc-brands-models .carousel .carousel-inner .carousel-item div .nc-model-info .nc-info p {
    font-size: 12px;
  }
  .new-cars-brands .nc-brands-models .carousel .carousel-inner .carousel-item div .nc-model-info .nc-price h4 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    margin-top: -160px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    margin-inline: -40px;
    margin-bottom: 180px;
  }
  .carousel-control-prev .carousel-control-prev-icon,
  .carousel-control-prev .carousel-control-next-icon,
  .carousel-control-next .carousel-control-prev-icon,
  .carousel-control-next .carousel-control-next-icon {
    max-width: 50%;
  }
}
@media only screen and (min-width: 2400px) {
  .after-header h3 {
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 50px;
    padding: 0px;
    margin-left: 430px;
    margin-top: 100px;
  }
  .parrafos {
    margin-top: 330px;
    margin-bottom: 240px;
  }
  .parrafos h1 {
    margin-bottom: 125px;
    font: 100px;
  }
  .parrafos p {
    margin-left: 35%;
    margin-right: 35%;
    font-size: 19px;
  }
  .new-cars-grid h3 {
    font-size: 70px;
    margin-bottom: 20px;
  }
  .carousel-autos {
    padding-left: 430px;
    padding-right: 430px;
  }
  .grid-container {
    margin-left: 32%;
    margin-right: 32%;
  }
  .grid-container .grid-item {
    margin: 85px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 50px;
  }
}
@media only screen and (max-width: 320px) {
  .header-container {
    min-height: 70px;
  }
  .header-container .navbar-brand img {
    width: 100px;
  }
  .parrafos h1 {
    margin-bottom: 50px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 40px;
    align-items: center;
  }
  .new-cars-grid h3 {
    color: #000000;
    font-size: 30px;
    padding: 0px;
    text-align: center;
    margin-bottom: 100px;
  }
  .exlusive-selection-sale .contenedor-sales {
    padding: 10px 5px;
  }
  .exlusive-selection-sale .contenedor-sales .car-upper .car-img img {
    margin-bottom: 5px;
    border-radius: 10px;
    max-width: 98%;
  }
  .exlusive-selection-sale .contenedor-sales .car-upper .car-info h4 {
    text-align: center;
    font-size: 29px;
    font-weight: 600;
  }
  .exlusive-selection-sale .contenedor-sales .car-upper .car-info ul {
    font-size: 13px;
    font-weight: 300;
    padding: 20px;
  }
  .exlusive-selection-sale .contenedor-sales .car-upper .car-price {
    margin-top: auto;
    margin-bottom: 25px;
    color: rgb(227, 227, 240);
  }
  .exlusive-selection-sale .contenedor-sales .car-upper .car-price h5 {
    font-size: 25px;
    font-weight: 700;
  }
  .exlusive-selection-sale .contenedor-sales .car-bottom .carousel-fade {
    max-width: 96%;
  }
  footer .footer-container .footer-info {
    margin: 0 20px;
    margin-top: 90px;
  }
  footer .footer-container .logo-footer {
    padding: 6px;
    border-radius: 7px;
    margin-top: 100px;
  }
  footer .footer-container .logo-footer img {
    width: 190px;
  }
  footer .footer-container .footer-redes {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-wrap: wrap;
  }
  footer .footer-container .footer-redes .rrss-img {
    width: 30px;
    margin: 0 7px;
    margin-top: 80px;
    display: flex;
  }
  .grid-container .grid-item {
    margin: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 50px;
  }
  .title {
    font-size: 30px;
  }
  .address-container .address {
    margin-inline: 5px;
    margin-bottom: 10px;
  }
  .address-container .address h4 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .address-container .address p {
    font-size: 14px;
  }
  .address-container .map {
    margin-inline: 5px;
    margin-bottom: 10px;
  }
  .address-container .map h4 {
    font-size: 25px;
  }
  .new-cars-brands {
    margin: 0px;
  }
  .new-cars-brands .nc-brands-models {
    margin-inline: 1%;
    padding-bottom: 50px;
  }
  .new-cars-brands .nc-brands-models .nc-brand img {
    width: 65px;
    margin-right: 12px;
  }
  .new-cars-brands .nc-brands-models .nc-brand .mercedes-nme {
    width: 110px;
  }
  .new-cars-brands .nc-brands-models .carousel {
    margin-inline: 30px;
  }
  .new-cars-brands .nc-brands-models .carousel .carousel-inner .carousel-item div img {
    max-width: 90%;
    min-width: 180px;
    margin-inline: 0px;
  }
  .new-cars-brands .nc-brands-models .carousel .carousel-inner .carousel-item div .nc-model-info {
    flex-direction: column;
  }
  .new-cars-brands .nc-brands-models .carousel .carousel-inner .carousel-item div .nc-model-info .nc-info {
    margin-right: 0px;
    margin-top: 25px;
  }
  .new-cars-brands .nc-brands-models .carousel .carousel-inner .carousel-item div .nc-model-info .nc-info h4 {
    font-size: 21px;
    margin-bottom: 15px;
  }
  .new-cars-brands .nc-brands-models .carousel .carousel-inner .carousel-item div .nc-model-info .nc-info p {
    font-size: 10px;
  }
  .new-cars-brands .nc-brands-models .carousel .carousel-inner .carousel-item div .nc-model-info .nc-price h4 {
    font-size: 19px;
    margin-top: 0px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    margin-inline: -30px;
    margin-bottom: 180px;
  }
  .carousel-control-prev .carousel-control-prev-icon,
  .carousel-control-prev .carousel-control-next-icon,
  .carousel-control-next .carousel-control-prev-icon,
  .carousel-control-next .carousel-control-next-icon {
    max-width: 70%;
  }
}

/*# sourceMappingURL=style.css.map */
