* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F0F1FA;
}

/* Estilos para el header */

header {
    width: 100%;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, rgba(240, 241, 250, 1) 100%), url(../img/porche_header_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;


}


/*
header div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(44, 69, 73, 0.603);
    padding-left: 30px;
    padding-left: 30px;
}
*/


.header-container {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    min-height: 100px;
    top: 0;
    background-color: rgba(44, 69, 73, 0.603);
}

.carousel-autos {
    padding-left: 200px;
    padding-right: 200px;
}

.carousel-inner {
    border-radius: 20px !important;
}





.button-navbar {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    display: flex;
}


.button-navbar li a {
    text-decoration: none;
    /* Elimina el subrayado de los enlaces */
    color: #39374b;
    /* Cambia el color del texto a negro, puedes ajustarlo según prefieras */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    padding: 13px;
    text-wrap: center;

}


.button-navbar li a:hover {
    border-radius: 3px;
    transition-delay: 10ms;
    transition-duration: 500ms;
    background-color: rgba(44, 69, 73, 0.603);
}

.header-separator {
    margin-bottom: 20px;
}

.highlight-page {
    border-bottom: 4px solid #b9b9ec;
    ;
}





.gradient {
    margin-top: 50px;
    height: 180px;
    display: flex;
}

.gradient h3 {
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 50px;
    padding: 0px;
    margin-left: 200px;
    margin-top: 100px;


}


.parrafos {
    text-align: center;
    margin-top: 250px;
    margin-bottom: 150px;
}

.parrafos h1 {
    margin-bottom: 50px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 60px;
    align-items: center;
}

.parrafos p {
    margin-left: 320px;
    margin-right: 320px;
}

.new-cars-grid {
    background: rgb(240, 241, 250);
    background: linear-gradient(180deg, rgba(240, 241, 250, 0.8688725490196079) 0%, rgba(130, 135, 145, 1) 37%, rgba(18, 20, 22, 1) 67%);
}

.new-cars-grid h3 {
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 50px;
    padding: 0px;
    text-align: center;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}

.grid-item {
    border: 2px solid rgba(143, 143, 143, 0.8);
    background-color: #f0f1fa67;
    padding: 50px;
    text-align: center;
    margin: 50px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.grid-item img {
    padding-left: 20px;
}

.grid-item:hover {
    border: 2px solid rgba(0, 0, 0, 0.8);
    transition: 300ms;
}

footer {
    display: flex;
    justify-content: space-between;
    /* Alineación horizontal al centro */
    align-items: center;
    /* Alineación vertical al centro si es necesario */
    background-color: #121416;
}

footer nav {
    flex: 1;
}

footer nav ul {
    list-style-type: none;
    /* Elimina los puntos de la lista */
    padding: 0;
    /* Elimina el padding */
    margin: 0;
    /* Elimina el margen */
    display: flex;
    /* Hace que los elementos hijos (li) se alineen en fila */
    justify-content: center;
    /* Centra los elementos del menú */
}

footer nav ul li {
    margin: 0 15px;
}

.img-sizer {
    width: 300px;
}

/* Responsive para mobile */

@media only screen and (max-width: 1020px) {

    header {
        width: 100%;
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, rgba(240, 241, 250, 1) 100%), url(../img/porche_header_background_mvl.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 700px;
    }

    .gradient {
        display: block;
        margin-top: 100px;
        height: 200px;
        text-align: center;
    }



    .gradient h3 {
        color: #000000;
        font-weight: bolder;
        font-size: 50px;
        padding: 0px;
        margin-left: 0px;
        margin-top: 0px;
        text-align: center;
    }

    .carousel-autos {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
    }

    .parrafos {
        text-align: center;
        margin-top: 150px;
        margin-bottom: 10px;
        margin-bottom: 200px;
    }

    .parrafos h1 {
        margin-bottom: 50px;
        color: #000000;
        font-family: "Montserrat", sans-serif;
        font-weight: bolder;
        font-size: 60px;
        align-items: center;
    }

    .parrafos p {
        margin-top: 70px;
        margin-left: 20px ;
        margin-right: 20px ;
    }

    .new-cars-grid h3 {
        color: #000000;
        font-family: "Montserrat", sans-serif;
        font-weight: bolder;
        font-size: 50px;
        padding: 0px;
        text-align: center;
        margin-bottom: 100px;
    }
    
    .grid-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 100px;
        margin-right: 100px;
    }
    
    .grid-item {
        border: 2px solid rgba(143, 143, 143, 0.8);
        background-color: #f0f1fa67;
        padding: 40px;
        text-align: center;
        margin: 30px;
        width: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .grid-item img {
        padding-left: 5px;
    }
    
    .grid-item:hover {
        border: 2px solid rgba(0, 0, 0, 0.8);
        transition: 300ms;
    }

}