.about{
    margin-top: 180px;
}

.about-photos-container{
    padding-bottom: 300px;
        .text{
            text-align: center;
            margin-bottom: -260px;
            h2{
                font-family: "Montserrat", sans-serif;
                font-weight: bolder;
                font-size: 68px;
                margin-bottom: 80px;
            }
            p{
                font-family: 'Trebuchet MS', sans-serif;
                &:nth-child(2){
                    font-size: 400px;
                    position: relative;
                    bottom: 220px;
                }
                &:nth-child(3){
                    font-size: 250px;
                    position: relative;
                    bottom: 380px;
                    right: 3px;
                }
                &:nth-child(4){
                    font-size: 150px;
                    position: relative;
                    bottom: 380px;
                    right: 3px;
                }
            }
        }
        .about-photos{
            display: flex;
            justify-content: center;
            padding-top: 380px;
            margin: 0 50px;
            img{
                max-width: 45%;
                height: auto;
                margin-left: 60px;
                margin-right: 60px;
                border-radius: 10px;
                &:nth-child(1){
                    position: relative;
                    bottom: 300px;

                }
            }
        }
}