// Media query para dar responsive a monitores y televisores high-res

@media only screen and (min-width: 1919px) {

    header {
        width: 100%;
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, rgba(240, 241, 250, 1) 100%), url(../img/porche_header_background.jpg);
        height: 700px;
    }

    .parrafos {
        margin-top: 200px;
        margin-bottom: 240px;
    }

    .parrafos h1 {
        margin-bottom: 125px;
        font: 100px;
    }

    .parrafos p {
        margin-left: 35%;
        margin-right: 35%;
        font-size: 19px;
    }

    .new-cars-grid h3 {
        font-size: 70px;
        margin-bottom: 20px;
    }

    .carousel-autos {
        margin-inline: 20%;
            h3{
                color: #000000;
                font-family: "Montserrat", sans-serif;
                font-weight: bolder;
                font-size: 50px;
                padding: 0px;
            }
    }

    .grid-container {
        margin-left: 32%;
        margin-right: 32%;
    }

    .grid-container .grid-item {
        margin: 70px;
        margin-top: 60px;
        margin-bottom: 60px;
        padding: 50px;
    }
    .new-cars-brands{
        .nc-brands-models{
            margin-inline: 18%;
        }
    }
}