// Media query para dar responsive a dispositivos moviles lowres

@media only screen and (max-width: 320px) {
    .header-container {
        min-height: 70px;
        .navbar-brand{
            img{
                width: 100px;
            }
        }
    }

    .parrafos h1 {
        margin-bottom: 50px;
        color: #000000;
        font-family: "Montserrat", sans-serif;
        font-weight: bolder;
        font-size: 40px;
        align-items: center;
    }

    .new-cars-grid h3 {
        color: #000000;
        font-size: 30px;
        padding: 0px;
        text-align: center;
        margin-bottom: 100px;
    }

    .exlusive-selection-sale {
        .contenedor-sales {
            padding: 10px 5px;
            .car-upper {

    
                .car-img {
    
                    img {
                        margin-bottom: 5px;
                        border-radius: 10px;
                        max-width: 98%;
                    }
                }
    
                .car-info {
                    h4{
                        text-align: center;
                        font-size: 29px;
                        font-weight: 600;
                    }
                    ul{
                        font-size: 13px;
                        font-weight: 300;
                        padding: 20px;
                    }
                }
    
                .car-price {
                    margin-top: auto;
                    margin-bottom: 25px;
                    color: rgb(227, 227, 240);
                    h5{
                        font-size: 25px;
                        font-weight: 700;
                    }
                }
            }
    
            .car-bottom {
                .carousel-fade {
                    max-width: 96%;
                }
            }
        }
    }

    footer .footer-container .footer-info {
        margin: 0 20px;
        margin-top: 90px;
    }


    footer .footer-container .logo-footer {
        padding: 6px;
        border-radius: 7px;
        margin-top: 100px;
    }

    footer .footer-container .logo-footer img {
        width: 190px;
    }

    footer .footer-container .footer-redes {
        margin-left: 5px;
        margin-right: 5px;
        display: flex;
        flex-wrap: wrap;
    }

    footer .footer-container .footer-redes .rrss-img {
        width: 30px;
        margin: 0 7px;
        margin-top: 80px;
        display: flex;
    }

    .grid-container .grid-item {
        margin: 5px;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 50px;
    }
}