.new-cars-brands {
    background-color: rgba(18, 20, 22, 1);
    padding-top: 100px;

    .nc-brands-models {
        margin-inline: 10%;
        padding-bottom: 160px;
        background-color: rgba(18, 20, 22, 1);

        .nc-brand {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            img {
                width: 78px;
                margin-right: 20px;

            }

            .brand-nme {
                filter: invert(1);
            }

            .mercedes-nme {
                width: 130px;
            }
        }

        .carousel {
            margin-inline: 30px;

            .carousel-inner {
                border-radius: 0;

                .carousel-item {
                    div {
                        color: white;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;

                        img {
                            max-width: 52%;
                            border-radius: 5px;
                            margin-bottom: 20px;
                            margin-inline: 20px;
                        }

                        .nc-model-info {
                            display: flex;
                            min-height: 350px;

                            .nc-info {
                                color: rgb(231, 235, 253);
                                margin-right: 15px;
                                display: flex;
                                flex-direction: column;
                                margin: auto;

                                h4 {
                                    font-weight: bold;
                                    font-size: 30px;
                                    margin-bottom: 15px;
                                    font-family: Arial, Helvetica, sans-serif;
                                    margin-bottom: 30px;
                                }

                                p {
                                    font-family: Arial, Helvetica, sans-serif;
                                    font-size: 15px;
                                    max-width: 300px;

                                    br {
                                        display: block;
                                        content: "";
                                        margin-top: 10px;
                                    }

                                    strong {
                                        font-weight: 750;
                                        color: rgb(235, 240, 255);
                                    }
                                }
                            }

                            .nc-price {
                                text-align: center;
                                padding-inline: 20px;
                                align-items: center;
                                color: rgb(231, 235, 253);
                            }
                        }

                    }
                }
            }
        }
    }

}

.carousel-control-prev,
.carousel-control-next {
    margin-inline: -120px;
    margin-bottom: 0px;
}