.title{
    margin-bottom: 75px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 75px;
    align-items: center;
    text-align: center;
    margin-top: 160px;
    margin-bottom: 80px;
}